[submodule "Dubai_Owls__jhuang11_achowdhury11_azorin10_chernandez10"]
	path = Dubai_Owls__jhuang11_achowdhury11_azorin10_chernandez10
	url = https://github.com/Jeffrey-Huang11/Dubai_Owls.git
	branch = main
