<!--
Team Elephant (Jeffrey Huang, Matthew Hui, Winnie Huang, Ethan Machleder)
SoftDev
K15 -- Sessions Greetings
2020-12-14
-->

<!DOCTYPE html>
<html>
  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>TNPG: Elephant</h1>
    <h2>Roster: Jeffrey Huang, Matthew Hui, Winnie Huang, Ethan Machleder</h2>
    <h3>Enter your username and password below to proceed.</h3>
    <form action="/welcome">
      <input type="text" placeholder="Username" name="username">
      <input type="password" placeholder="Password" name="password">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
